:root {
    --black: #000;
    --red: #f00;
    --animint: #edc291;
    --animint-pastel: rgba(237, 194, 145, .25);

    --cj: rgba(255, 0, 0, .75);
    --cj-pastel: rgba(255, 0, 0, .25);

    --paintit: rgba(0, 161, 159, .75);
    --paintit-pastel: rgba(0, 161, 159, .25);

    --cineclub1: rgba(213,19,16,.75);
    --cineclub2: rgba(27,136,142,.75);
    --cineclub1-pastel: rgba(213,19,16,.25);  
    --cineclub2-pastel: rgba(27,136,142,.25);  

    --cookit: rgba(72, 188, 188, .75);
    --cookit-pastel: rgba(72, 188, 188, .25);  

    --aparte: rgba(248, 191, 22, 1);
    --aparte-pastel: rgba(248, 191, 22, .25); 

    --bandamichel: rgba(244, 66, 23, .75);
    --bandamichel-pastel: rgba(244, 66, 23, .25); 

    --bellydance: rgba(200, 153, 58, .75);
    --bellydance-pastel: rgba(200, 153, 58, .25);

    --declic: rgba(169, 194, 87, .75);
    --declic-pastel: rgba(169, 194, 87, .25);

    --emotys: rgba(207, 138, 25, .5);
    --emotys-pastel: rgba(207, 138, 25, .25);

    --interlude: rgba(228, 228, 228, 1);
    --interlude-pastel: rgba(228, 228, 228, .25);

    --modelit: rgba(236, 126, 17, .75);
    --modelit-pastel: rgba(236, 126, 17, .25);

    --singint: rgba(255, 0, 0, .50);
    --singint-pastel: rgba(255, 0, 0, .25);

    --ttt: rgba(229, 207, 209, 1);
    --ttt-pastel: rgba(229, 207, 209, .5);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}

.heading span {
    color: var(--red);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333; 
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--pink);
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #ddd;
}

.home .content {
}

.home .title-logo {
    display: flex;
    align-items: center;
}

.home .title-logo .logo-img {
    height: 200px; 
    margin-right: 1rem;
}

.home .content h3 {
    font-size: 6rem;
    color: #333;
}

.home .content span {
    font-size: 3.5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p {
    font-size: 2rem;
    color: #777;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .home-image {
    flex-shrink: 0;
}

.home .home-image img {
    height: 50vh; 
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
    }
    
    .home .home-image img {
        height: auto;
        width: 100%;
    }
}


.icons-container{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}

.icons-container .icons{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .icons img{
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}


.icons-container .icons span{
    color: #555;
    font-size: 1.3rem;
}

.equipe .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.equipe .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    overflow: hidden;
}

.equipe .box img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform .3s ease;
}


.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);

}


.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: #aaa;

}

.review .box-container .box .stars i{
    color: var(--pink);
    font-size: 2rem;
}

.review .box-container .box p{
    color: #333;
    font-size: 2rem;
    line-height: 3rem;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;

}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: #333;
}


.review .box-container .box .user span{
    font-size: 1.5rem;
    color: #999;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row  .image{
    flex: 1 1 40rem;

}

.contact.row .image img{
    width: 100%;
}

.contact .row form .box{
    pad: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius:.5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.events .box-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
}

.events .box-container .text-content {
    max-width: 100%;
}

.events .box-container h1 {
    font-size: 45px;
    margin-bottom: 25px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.events .box-container p {
    font-size: 20px;
    margin-bottom: 20px;
}

.events .box-container events-date-list {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
}

.events .box-container .events-date-list li{
    font-size: 18px;
}

.events .box-container .subtitle{
    color: #f00;
    font-weight: bold;
}

/* Slider 1 */
#slider1 {
   margin: 0 auto;
   max-width: 500px;
   text-align: left;
   overflow: hidden;
   position: relative;
}
#slider1 input[type=radio] {
   display: none;
}

#slides1 {
   padding: 10px;
   border: 3px solid #ccc;
   width: 100%;
   transition: transform 0.5s ease; /* Utilisation de transform plutôt que margin-left */
   white-space: nowrap;
}
#overflow1 {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides1 .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides1 .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides1 .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides1 .inner {
   margin-left: -300%;
}
#slides1 .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%; /* Ajusté pour accueillir 4 slides */
   line-height: 0;
   display: flex; /* Utilisation de flexbox pour disposer les slides horizontalement */
   height: auto; /* Suppression de la hauteur fixe */
}
#slides1 .slide {
   width: 100%; 
   flex: 1;
   display: inline-block;
   vertical-align: top;
   white-space: normal;
   position: relative;
   padding-bottom: 0%;
}

#slides1 .slide img{
    width: 100%; /* Assurez-vous que l'image occupe toute la largeur de son conteneur */
    height: 100%;
    object-fit: cover;
    display: block;
}

#slides1 .slide_1 {
   background: #000;
}
#slides1 .slide_2 {
   background: #000;
}
#slides1 .slide_3 {
   background: #000;
}
#slides1 .slide_4 {
   background: #000;
}

#controls1 {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls1 label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls1 label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls1 label:nth-child(2),
#slide2:checked ~ #controls1 label:nth-child(3),
#slide3:checked ~ #controls1 label:nth-child(4),
#slide4:checked ~ #controls1 label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls1 label:nth-last-child(2),
#slide2:checked ~ #controls1 label:nth-last-child(3),
#slide3:checked ~ #controls1 label:nth-last-child(4),
#slide4:checked ~ #controls1 label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets1 {
   margin: 150px 0 0;
   text-align: center;
}
#bullets1 label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets1 label:nth-child(1),
#slide2:checked ~ #bullets1 label:nth-child(2),
#slide3:checked ~ #bullets1 label:nth-child(3),
#slide4:checked ~ #bullets1 label:nth-child(4) {
   background: #444;
}

/* Slider 2 */
#slider2 {
   margin: 0 auto;
   max-width: 500px;
   text-align: left;
   overflow: hidden;
   position: relative;
}
#slider2 input[type=radio] {
   display: none;
}

#slides2 {
   padding: 10px;
   border: 3px solid #ccc;
   width: 100%;
   transition: transform 0.5s ease; /* Utilisation de transform plutôt que margin-left */
   white-space: nowrap;
}
#overflow2 {
   width: 100%;
   overflow: hidden;
}
#slide5:checked ~ #slides2 .inner {
   margin-left: 0;
}
#slide6:checked ~ #slides2 .inner {
   margin-left: -100%;
}
#slide7:checked ~ #slides2 .inner {
   margin-left: -200%;
}
#slide8:checked ~ #slides2 .inner {
   margin-left: -300%;
}



#slides2 .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 200%; /* $$$$ à changer si plus de 2 images */
   line-height: 0;
   display: flex; /* Utilisation de flexbox pour disposer les slides horizontalement */
   height: auto; /* Suppression de la hauteur fixe */
}
#slides2 .slide {
   width: 100%; 
   flex: 1;
   display: inline-block;
   vertical-align: top;
   white-space: normal;
   position: relative;
   padding-bottom: 0%;
}

#slides2 .slide img{
    width: 100%; /* Assurez-vous que l'image occupe toute la largeur de son conteneur */
    height: 100%;
    object-fit: cover;
    display: block;
}

#slides2 .slide_5 {
   background: #00171F;
}
#slides2 .slide_6 {
   background: #003459;
}
#slides2 .slide_7 {
   background: #007EA7;
}
#slides2 .slide_8 {
   background: #00A8E8;
}
#controls2 {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls2 label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls2 label:hover {
   opacity: 1;
}
#slide5:checked ~ #controls2 label:nth-child(2),
#slide6:checked ~ #controls2 label:nth-child(3),
#slide7:checked ~ #controls2 label:nth-child(4),
#slide8:checked ~ #controls2 label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide5:checked ~ #controls2 label:nth-last-child(2),
#slide6:checked ~ #controls2 label:nth-last-child(3),
#slide7:checked ~ #controls2 label:nth-last-child(4),
#slide8:checked ~ #controls2 label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets2 {
   margin: 150px 0 0;
   text-align: center;
}
#bullets2 label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide5:checked ~ #bullets2 label:nth-child(1),
#slide6:checked ~ #bullets2 label:nth-child(2),
#slide7:checked ~ #bullets2 label:nth-child(3),
#slide8:checked ~ #bullets2 label:nth-child(4) {
   background: #444;
}


/* media queries*/
@media (max-width:991px){
    
html{
    font-size: 55%
}
header{
    padding: 2rem;
}
section{
    padding: 2rem;
}
.events .box-container {
    flex-direction: column;
}
}

@media (max-width:768px){
    html .fa-bars{
        display: block;
    }

    .home.content h3{
        font-size: 5rem;

    }
    .home.content span{
        font-size: 2.5rem;
        
    }
    .icons-container .icons h3{
        
        font-size: 2rem;
    }
    
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
}


@media (max-width:450px){
    
    html{
        font-size: 50%
    }
    .heading{
        font-size: 3rem;
    }
    
}
